body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font: 18px/1.5 sans-serif;
    height: 100vh;
    margin: 0;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;
    width: 100%;
    height: 100%;
}

header {
    text-align: center;
    background-color: rgba(245, 245, 245, 0.06);
    box-shadow: 0px 1px 10px black;
    


}

h3{ color: white;}
h4{ color: white;
    text-align: center;}



.layout {
    display: flex;
    flex: 1;
    height: 100%;
}

aside {
    background-color: #007180;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0px 10px black;
    
}

.lista ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.lista li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: rgb(255, 254, 254);
}

#register{
    color: black;
}

ul {
    list-style-type: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px;
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
    height: 20px;
    
}

select {
    padding: 5px;

}

button {
    margin: 10px;
    padding: 10px;
    border: none;
    background: #56888fff;
    color: white;
}

button:hover {
    background: #2f4444ff;
}

#buttons{
    display: flex;
    flex: column;
}


.aloginRegister {
    text-decoration: none;
    color: rgb(0, 0, 0);
}