{% extends 'layouts/layout_sidebar.html.twig' %}

{% block title %}Editar Auto{% endblock %}

{% block main %}
    <h1>Editar Auto</h1>

    {% if car.photo %}
        <img src="{{ asset('img/carses/' ~ car.photo) }}" width="200" class="rounded shadow">
    {% endif %}

    {{ include('car/formCar.html.twig', {'button_label': 'Update'}) }}
{% endblock %}