{% extends 'layouts/layoutAdmitSideBar.html.twig' %}

{% block title %}Lista de Autos{% endblock %}

{% block main %}
    <div class="general-list">
        <ul>
            {% for user in users %}
                <li class="general-item">
                    <a style="color:black" href="{{ path('userDetail',{ id: user.id() }) }}">
                        {{user.nombre}}
                        {{user.email}}
                    </a>
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>
{% endblock %}